@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@600&family=PT+Sans:wght@700&display=swap');

h1 {
  font-size: 2.5em;
  padding: 20px 0;
  margin: 0 0 100px 0;
  color: white;
}
body {
  background: #6e5c62;
  color: white;
  font-family: 'Mitr', sans-serif;  
  text-align: center;
  line-height: 3px;
  text-transform: uppercase;
}
.cell {
  width: 70px;
  height: 70px;
  line-height: 70px;
  margin: 3px;
  font-size: 55px;
  border-width: 0.125em;
  border-style: solid;
  border-color: #ff004800;
  background-color: #615458;
  border-radius: 10%;
  display: inline-block;
}

@keyframes shake {
  10%  { transform: translateX(-14px); }
  20%  { transform: translateX(14px); }
  30%  { transform: translateX(-8px); }
  40%  { transform: translateX(8px); }
  50%  { transform: translateX(-4px); }
  60%  { transform: translateX(4px); }
  70%  { transform: translateX(-2px); }
  80%  { transform: translateX(2px); }
  90%  { transform: translateX(-1px); }
  100% { transform: translateX(1px); }
}

@keyframes flip {
  0% {
    background-color: transparent;
    border: 0.125em solid #4C4347;
    transform: perspective(200px) rotateY(0deg);
  }

  49.99999% {
    background-color: transparent;
    border: 0.125em solid #4C4347;
    transform: perspective(200px) rotateY(90deg);
  }

  50% {
    background-color: transparent;
    transform: perspective(200px) rotateY(-90deg);
    border: none;
  }

  50.00001% {
    background-color: var(--color, transparent);
    border: 0.125em solid var(--color);
  }

  100% {
    transform: perspective(200px) rotateY(0deg);
    background-color: var(--color, transparent);
    border: 0.125em solid var(--color);
  }
}

@keyframes bounce {
  0% {
    transform: perspective(200px) translateZ(0);
    color: transparent;
  }

  24.99999% {
    color: transparent;
  }

  25% {
    transform: perspective(200px) translateZ(30px);
    color: #FAFAFF;
  }

  100% {
    transform: perspective(200px) translateZ(0);
    color: #FAFAFF;
  }
}